* {
    box-sizing: border-box;
  }
  
  h1 {
    text-align: center;
    color: red;
  }
  
  .image {
    float: left;
    width: 33.3%;
    padding: 3%;
  }
  
  .image .desc {
    color: #0077B3;
  }
  
  img {
    display: inline-block;
    align-items: center;
    max-width: 100%;
    max-height: 100%;
  }
  
  p {
    align-items: center;
    width: 90%;
    padding-left: 10%;
    font-size: 16;
    text-align: justify;
  }